@tailwind base;
@tailwind components;
@tailwind utilities;

/* instant custom font 'caslonPro' importing here */
@font-face {
  font-family: 'ACaslonPro';
  src: url('./assets/fonts/ACaslonPro-Regular.otf') format(''); /* Adjust path as needed */
  font-weight: normal;
  font-style: normal;
}

/* instant custom font 'IrvinHeading' importing here */
@font-face {
  font-family: 'BebasNeue';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* instant custom font 'IrvinHeading' importing here */
@font-face {
  font-family: 'Sora';
  src: url('./assets/fonts/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.slick-slide > div{
  margin: 0 10px;
}

html{
  scroll-behavior: smooth;
}



/* Unordered List (UL) */
.jodit .jodit-wysiwyg ul {
  list-style-type: disc; /* Bullet points */
  padding-left: 20px; /* Adjust padding */
}

/* Ordered List (OL) */
.jodit .jodit-wysiwyg ol {
  list-style-type: decimal; /* Numbered list */
  padding-left: 20px; /* Adjust padding */
}

/* Styling for list items */
.jodit .jodit-wysiwyg li {
  margin-bottom: 5px; /* Optional: Add spacing between list items */
}
